.input {
   
    height: 75px;
    font-weight: bold;
    color: black;
    border: 2px solid white;
    border-radius: 50px;
    background-color: rgb(56, 163, 127);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
    padding: 11px 30px 11px 11px;
    margin: 1px solid rgb(122, 122, 124);
    box-shadow: -1px 4px 1px 1px white;
    
}