.boton-contenedor {
    height: 83px;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    margin: 4px;
    cursor: pointer;
    font-size: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #12716e;
    user-select: none;
    flex:1 1;
  
}
.operador {
background-color: rgb(17, 93, 155);
}
.boton-clic{
    background-color: rgb(102, 232, 10);
}

.boton-contenedor:hover {
 background-color: rgb(226, 226, 228);
}
.operador:hover {
 background-color: rgba(3, 217, 245, 0.772);
}
